html {
    /* for animation */
    background-image: linear-gradient(90deg, rgb(0, 0, 0),rgb(25, 24, 27), rgb(22, 18, 29),rgb(42, 20, 80));
    background-repeat: no-repeat;
    background-size: 800% 200%;
    animation: gradient 30s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 70%;
	}
	50% {
		background-position: 100% 70%;
	}
	100% {
		background-position: 0% 75%;
	} 
}

#container span {
    color:rgb(70,18,161);
    text-transform: uppercase;
    display:block;
}
.text1{
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 20px;
    animation: text 3s 1; 
} 
@keyframes text{
    0%{
        color: black;
    }
    30%{
        letter-spacing: 40px;
    }
    85%{
        letter-spacing: 15px;
    }
}
/* #page{
    background-image: url(../images/postimage10.png);
} */