@font-face {
    font-family: pixel;
    src: url(../fonts/BACKTO1982.TTF);
  }
html{
    overflow:hidden;
    height:100%;
    background-image: linear-gradient(-30deg, rgb(123,175,212), rgb(49, 122, 106), rgb(122, 167, 0), black);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1 {
    font-size: 50px;
    font-family: pixel;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
table{
    border-color: white;
    border-width: 5px;
}
td{
    font-size: 20px;
    color: black;
    font-family:pixel;
    text-align:center;
    height:75px;
    width: 75px;
}
#root{
    font-family: pixel;
    color:white;
}
#howto{
    position:absolute;
    bottom:0px;
    color:white;
    font-family: pixel;
    text-align: center;
    font-size: 15px;
}
.but{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
#reset{
    position: absolute;
    bottom: 20%;
    font-family: pixel;
    text-align: center;
    height: 50px;
    width: 100px;
    border: 5px solid black;
    color: black;
    border-radius: 60px;
}
#reset:hover{
    background-color: skyblue;
}
#sc{
    text-align: center;
    font-family: pixel;
    color:black;
}
.root{
    text-align: center;
}
.td0{background-color:rgb(156, 5, 5)}
.td2{background-color: rgb(255, 66, 66);}
.td4{background-color: rgb(236, 82, 20);}
.td8{background-color: rgb(255, 130, 80);}
.td16{background-color: rgb(247, 161, 3);}
.td32{background-color: rgb(240, 228, 61);}
.td64{background-color: rgb(122, 167, 0)}
.td128{background-color: rgb(68, 126, 2)}
.td256{background-color: rgb(49, 122, 106)}
.td512{background-color:rgb(77, 109, 133) }
.td1024{background-color:rgb(51, 133, 165)}
.td2048{background-color:rgb(123,175,212)}
a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
  @media only screen and (max-width: 707px) {
    #howto{
        font-size: 10px;
    }
  } 
  @media only screen and (max-width: 375px) {
    #reset{
        bottom:15%;
    }
  }
@media only screen and (max-width: 360px) {
    #reset{
        bottom:12%;
    }
    #howto{
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 320px) {
    #reset{
        bottom:20%;
    }
    #howto{
        font-size: 12px;
    }
    td{
        font-size: 15px;
        height:50px;
        width: 50px;
    }
  }
  @media only screen and (max-height: 610px) {
    #reset{
        bottom:7%;
    }
  }
  @media only screen and (max-width: 320px) {
    #reset{
        bottom:20%;
    }
    }
  
